{% set title = 'Confirm Import Content Package' %}
{% set icon = 'upload' %}

{% set breadcrumbItems = [
    { value: 'Content Packages', url: path('contextual_code_content_packages_dashboard') },
    { value: 'Import Content Package', url: path('contextual_code_content_packages_import') },
    { value: title  }
]
%}

{% extends '@ezdesign/content_packages/layout.html.twig' %}

{% block page_content %}
    {% set show_alert = false %}
    {% set alert_class = '' %}
    {% if entity.getError() %}
        {% set show_alert = true %}
        {% set alert_class = 'alert-danger' %}
    {% endif %}

    {% if show_alert %}
        <div class="alert {{ alert_class }} cc-content-packages-info">
            {% if entity.getError() %}
                {{ entity.getError() }}
            {% endif %}
        </div>
    {% endif %}


    {% if metadata is defined and metadata %}
        {% set metadataItems = metadata.getItems() %}
        <div class="ez-table-header">
            <div class="ez-table-header__headline">
                Content Package Metadata
            </div>
        </div>
        <table class="ez-table table">
            <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            {% for key, value in metadataItems if value is not iterable %}
                <tr>
                    <td class="ez-table__cell">{{ key }}</td>
                    <td class="ez-table__cell">{{ value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if parent_id is defined and parent_id %}
        {% set form_action = path('contextual_code_content_packages_import_start', {
            packageId: entity.getPackageId(),
            parentId: parent_id,
            type: type
        } ) %}
    {% else %}
        {% set form_action = path('contextual_code_content_packages_import_start_no_parent', {
            packageId: entity.getPackageId(),
            type: type
        } ) %}
    {% endif %}
    <form action="{{ form_action }}">
        <input type="hidden" id="package_id" name="package_id" value="{{ entity.getPackageId() }}">
        {% if parent_id is defined and parent_id %}
            <input type="hidden" id="parent_id" name="parent_id" value="{{ parent_id }}">
        {% endif %}
        {% if type is defined and type %}
            <input type="hidden" id="type" name="type" value="{{ type }}">
        {% endif %}
        <button type="submit" id="import_content_package_confirm" class="btn btn-primary">
            Import Content Package{% if parent_id is defined and parent_id %} under "{{ parent_name }}" (id {{ parent_id }}){% endif %}
        </button>
    </form>

{% endblock %}
