{% extends '@ezdesign/layout.html.twig' %}

{% block content %}
    <div class="row align-items-stretch ez-main-row">
        {% block left_sidebar %}
            <div class="bg-dark pt-4 px-0 ez-side-menu">
                <div class="ez-sticky-container">
                    {% set sidebar_left = knp_menu_get('content_packages.menu.main.sidebar_left', [], {}) %}
                    {{ knp_menu_render(sidebar_left, {
                        'template': '@ezdesign/parts/menu/sidebar_left.html.twig'
                    }) }}
                </div>
            </div>
        {% endblock left_sidebar %}

        <style>
            .cc-content-packages-status-log-wrapper {
                margin-top: 40px;
            }
            .cc-content-packages-status-log {
                background-color: #ededed;
                padding: 20px;
                font-family: monospace;
                overflow-y: scroll;
                height: 300px;
                margin-top: 10px;
            }
            .cc-content-packages-download {
                margin-top: 40px;
            }
        </style>

        <div class="px-0 pb-4 ez-content-container">
            <div class="ez-header">
                <div class="container">
                    {% if breadcrumbItems is defined %}
                        {% include '@ezdesign/parts/breadcrumbs.html.twig' with { items: breadcrumbItems} %}
                    {% endif %}

                    {% if title is not defined %}
                        {% set title = 'Content Packages' %}
                    {% endif %}
                    {% if iconName is not defined %}
                        {% set iconName = 'contentlist' %}
                    {% endif %}
                    {% include '@ezdesign/parts/page_title.html.twig' with {
                        title: title,
                        iconName: iconName
                    } %}
                </div>
            </div>

            <div class="container-fluid ez-main-container container mt-4 px-5">
                {% block page_content %}
                {% endblock %}
            </div>
        </div>

    </div>
{% endblock %}
