{% if element_id is defined %}
    <script>
        $(document).ready(function(){
            var el = document.getElementById('{{ element_id }}');

            const btns = document.querySelectorAll('.btn--udw-browse-custom');
            const udwContainer = document.getElementById('react-udw');
            const token = document.querySelector('meta[name="CSRF-Token"]').content;
            const siteaccess = document.querySelector('meta[name="SiteAccess"]').content;
            const closeUDW = () => ReactDOM.unmountComponentAtNode(udwContainer);
            const onConfirm = (items) => {
                closeUDW();
                el.value = items[0].id;
                //console.log("%o", items[0]);
            };
            const onCancel = () => closeUDW();
            const openUDW = (event) => {
                event.preventDefault();

                const config = JSON.parse(event.currentTarget.dataset.udwConfig);
                const title = Translator.trans(/*@Desc("Browse content")*/ 'browse.title', {}, 'universal_discovery_widget');

                ReactDOM.render(
                    React.createElement(
                        eZ.modules.UniversalDiscovery,
                        Object.assign(
                            {
                                onConfirm,
                                onCancel,
                                title,
                                multiple: false,
                                startingLocationId: parseInt(event.currentTarget.dataset.startingLocationId, 10),
                                restInfo: { token, siteaccess },
                            },
                            config
                        )
                    ),
                    udwContainer
                );
            };

            btns.forEach((btn) => btn.addEventListener('click', openUDW, false));
        });
    </script>
{% endif %}
