{% set title = 'Content Package ' ~ entity.getPackageId() %}
{% set icon = 'download' %}

{% set breadcrumbItems = [
    { value: 'Content Packages', url: path('contextual_code_content_packages_dashboard') },
    { value: title  }
]
%}

{% extends '@ezdesign/content_packages/layout.html.twig' %}

{% block page_content %}
    {% set alert_class = 'alert-info' %}
    {% if entity.inProgress %}
        {% set alert_class = 'alert-warning' %}
    {% elseif entity.getDate() and entity.getDate().getTimestamp() + 180 >= date().getTimestamp() %}
        {% set alert_class = 'alert-success' %}
    {% endif %}

    <div class="alert {{ alert_class }} cc-content-packages-info">
        {% if entity.inProgress %}
            <b>Generating new content package... {{ entity.getProgress() }}%</b>
            <script type="text/javascript">
                setTimeout(function() {
                    location.reload();
                }, 5000);
            </script>
            <br>
        {% elseif entity.getDate() %}
            You last generated this content package on:
            {{ entity.getDate()|date('M j, Y g:ia') }}
        {% endif %}
    </div>

    {% if not entity.inProgress %}
        <a href="{{ path('contextual_code_content_packages_download', { id: entity.getPackageId() }) }}">
            Download content package
        </a>
    {% endif %}
{% endblock %}
